.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black-3);
  margin: 10px;
}

.projectSection .projectSectionHeading {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Jersey 25 Charted", sans-serif;
  margin-top: 30px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 150px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--black-3);
  padding: 20px;
}

.projectImg {
    width: 20vw;
}

.projectName {
    font-size: 2rem;
    font-family: "Foldit", sans-serif;
    font-family: "Micro 5", sans-serif;
}

.projectDescription {
  text-align: center;
  color: var(--white-3);
  margin: 10px 0;
  width: 75%;
}

.liveNgit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.liveLink {
  text-decoration: none;
  color: var(--white-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px;
  gap: 10px;
  border: 2px solid var(--black-3);
  border-radius: 50px;
  transition: all .5s ease-in-out;
}

.liveLink:hover {
    color: gold;
    border: 2px solid gold;
}

.gitHubLink {
    text-decoration: none;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 1.2rem;
    border: 2px solid gold;
    border-radius: 50px;
}